.header{
    background-color: black;
    width: 100%;
}
.header h3{
    letter-spacing: 24px;
   font-size: 30px;
   color: white;
   margin-left: 20px;
}
.para{
    margin-left: 230px;
    color: white;
}
.anchor{
    margin-left: 170px;

}
.anchor a{
    color: white;
    display:inline-block; 
    padding-right: 30px;

}
.log{
    position: relative;
    left: 748px;
    cursor: pointer;
    background-color: aqua;
    font-size: 20px;
    padding: 5px;
   
}
