<div class="header">
    <h3>NATIONAL INVENTORY EXCHANGE NETWORK</h3>
    <div class="para">
      <p>An innovative digital platform helping all industries solve dead<br>
        stock,excess inventory, and supply chain disruption issues.
      </p>
    </div>
   <div class="anchor"> 
 
      <a class="nav-link" routerLink="/home">home</a>
  
      <a class="nav-link" href="#">about us</a>
 
    <a class="nav-link" routerLink="/guest">guest</a>

    <a class="nav-link" href="#">contact us</a>
    
    <a class="nav-link log" routerLink="/nav-bar">Login</a>
  </div>
  
</div>

