 .span{
     padding: 100px;
    
 }
 .container{
     height: 120px;
 }
 
 .span1{
padding: 600px;
}
.bi-at{
   position: relative;
   right: 225px;
   bottom: 55px;
}
.align a{
    margin-right: 30px;
    color: rgb(31, 108, 223);
}
.text a{
    color: aliceblue;
    position: relative;
    bottom: 120px;
    left: 170px;
    font-size: 130%;
    display: block;

}
.mail a{
    color: aliceblue;
    position: relative;
    bottom: 180px;
    left: 440px;
    font-size: 22px;
    display: block;
}
