.span{
    position: relative;
   right: 485px;
}
.text a{
    position: relative;
   right: 425px;
   bottom: 50px;
   color: white;
   text-decoration: none;
}
.mail a{
    position: relative;
   left: 185px;
   bottom: 70px;
   color: white;
   text-decoration: none;
}
.align a{
    padding-left: 40px;
}
.align{
    position: relative;
    left: 140px;
}