<div class="fooder">
        <div class="phone">
            <div>
                <mat-icon class="cell"> call</mat-icon>
            </div>
            <div>
               <span >Phone</span><br>
               <span>(612) 800-0010</span>
            </div>
        </div>
        <div class="email">
            <mat-icon class="cell">alternate_email</mat-icon>
            <div>
                <span>Email</span><br>
                <span>info@nationalinventoryexchange.com</span>
            </div>
        </div>
</div>
<div class="nav">
    <a href="#">Terms of Use</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Bulid: 34 02/01/2022</a>
</div>
<div class="copy">
    <p>Copyright &#169;2022 National Inventory Exchange Network, LLC</p>
</div>
