<div class="menu-block col-sm-3">
  <div class="menu-bar">
  <mat-toolbar>
     <div class="nav-container">
       <div>
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="head">Transaction Center</span>
       </div>
     </div> 
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode='side' opened>
      <mat-list role="list" class="menu-border">
        <mat-list-item role="listitem" class="menu"><a routerLink="#">Sell An Item</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-first"><a routerLink="#">Post An Item</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-first"><a routerLink="#">Manage Item Postings</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-first"><a routerLink="#">Item Request Postings</a></mat-list-item>
        <mat-list-item role="listitem" class="menu"><a routerLink="#">Buy An Item</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-second"><a routerLink="#">Items For Sales</a></mat-list-item>
        <mat-list-item role="listitem" class="menu"><a routerLink="#">Request An Item</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-third"><a routerLink="#">Post An Item Request</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-third"><a routerLink="#">Manage Item Requests</a></mat-list-item>
        <mat-list-item role="listitem" class="menu"><a routerLink="#">Notifications</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-fourth"><a routerLink="#">Smart Dialogue &trade; <span class="menu-six">(0)</span></a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-fourth"><a routerLink="#">Transaction Status</a></mat-list-item>  
        <mat-list-item role="listitem" class="menu"><a routerLink="#">Reports/Resources</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-fivth"><a routerLink="#">Reports</a></mat-list-item>
        <mat-list-item role="listitem" class="gray menu-fivth"><a routerLink="#">My Account</a></mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <button mat-raised-button></button>
    </mat-drawer-content>
  </mat-drawer-container>
  </div>
  </div>
  
