.buying-selling{
    display: inline-block;
    width: 100%;
   height: 100vw;
}
.list ul li{
    color: rgb(68, 163, 163);
}
.last{
    margin-left: 20px;
}
.last ul li{
    list-style-type: none;
    margin-left: -18px;
}