<div class="container" id="header-main">
    <div class="row">
      <div class="col-sm-12">
        <app-header></app-header>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wrapper">
          <!--Top menu -->
         <div class="sidebar">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container" id="footer-main">
    <div class="row">
      <div class="col-sm-12">
        <footer>
          <app-footer></app-footer>
        </footer>
      </div>
    </div>
  </div>
 <!-- <app-guest></app-guest> -->
  
  
  
</div>
