#footer-main {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}

#header-main {
  background: yellow;
  height:50px;
}

.app-guest{
  background-color: red;
}
.first-line{
  display: flex;
  text-align: center;
}
.second-line{
   flex-basis: 50%;
   
}