.mat-button{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.mat-raised-button{
    margin-left: 20px; 
    background-color: #2196f3;
}
.mat-raised-button:hover{
    background-color: blue;
}
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frist-name{
   width: 250px;
   height: 40px;
}
.row{
    width: 100%;
    margin-top: 20px;
    text-align: left;
}
.star{
    color: red;
    position: relative;
    font-weight: 900;
    /* bottom: 4px; */
}
.phone{
    display: flex;
}
.message{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
::-webkit-input-placeholder{
    font-size: 12px;
}
form{
    font-size: 12px;
}
input{
    font-size: 12px;
}

.message-box::-webkit-input-placeholder {
  text-align: start;
  position: relative;
  bottom: 50px;
}
.checkbox-section{
    width: 60%; 
    height: 100px;
    margin-top: 100px;
    margin-left: 130px;
    /* background-color: gray; */
}
.checkbox{
    position: relative;
    bottom: 90px;
    left: 100px;
}
.privacy{
    position: relative;
    top: 40px;
    right: 70px;
}
.text-danger{
    margin-left: 10px;
    margin-top: 5px;
}
.captcha{
    margin-left: 135px;
    margin-top: 50px;
    max-width: 10px;
}
.end-button{
    margin-top: 50px;
}
