<div class="row">
  <div class="col"></div>
  <div class="col"><h2>New Member</h2>
  <h3>To register your company into the NIE Network , please click the "join" <br>button below</h3>
  <button type="button" class="btn btn-primary button1" (click)="openDialog()">JOIN</button>
</div>
 <div class="col col1">
  <h2>Login</h2>
  <form class="form"> 
    <div class="mail">
      <label>Email</label><span>*</span>
      <input type="text">
    </div>
    <div class="pass">
      <label>password</label><span>*</span>
      <input type="password">
    </div>
    <div class="forget">
      <a>Forget Password?</a>
    </div>
  </form>
  <button type="button" class="btn btn-primary button2">LOGIN</button>
  </div>
  <div class="col">
    <div class="anchor">
    <a><h2>Welcome to NIE 1.0</h2></a>
    <a><h3>Happy New Year!</h3></a>
    <a><h4>We look forwar to a healthier</h4></a>
    <a><h4>and safer year for all in 2022</h4></a>
    <a><h4>Stay tuned here for more information about a major new NIE platform realease..</h4></a>
  </div>
  </div>
</div>
