<div class="login-contend">
  <div style="width: 280px; color: gray;">
    <h3>New Member</h3>
    <h4>To register your company into te NIE Network, please click the "Join" button below</h4>
    <button class="btn-primary btn" (click)="openDialog()">Join</button>
  </div>
  <div style="width: 500px; color: gray;">
    <h3>Login</h3>
    <div class="input">
      <h5 class="user name">User Name <span style="color:red">*</span></h5>
      <input type="text" placeholder="Enter Email Address">
    </div>
    <div class="input">
      <h5 class="user">Password <span style="color:red">*</span></h5>
      <input type="text" placeholder="Enter Password">
    </div>
  
  <button type="button" class="btn btn-primary button2" routerLink="./menu-bar" >LOGIN</button>
  </div>
  <div class="col">
    <div class="anchor">
    <a><h2>Welcome to NIE 1.0</h2></a>
    <a><h3>Happy New Year!</h3></a>
    <a><h4>We look forwar to a healthier</h4></a>
    <a><h4>and safer year for all in 2022</h4></a>
    <a><h4>Stay tuned here for more information about a major new NIE platform realease..</h4></a>
    <h4 class="forgot">Forgot Password?</h4>
    <button class="btn-primary btn-1">Login</button> 
  </div>
  <div style="color:green">
    <h3>Welcome to NIE 1.0</h3>
    <h5 style="font-weight: 500;">Happy New Year!</h5>
    <h5>We look forward to a healthier</h5>
    <h5>and safer year for all in 2022.</h5>
    <h5>Stay tuned here fore more information about a major new NIE platform release...</h5>
  </div>
</div>
