input,
input::-webkit-input-placeholder {
    font-size: 11px;
    width: 250px;
    size: 5px;
}
.input{
    display: flex;
    margin-bottom: 10px;
}
.user{
    margin-right: 100px;
}
.name{
    margin-right: 95px;
}
.login-contend{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin-top: 80px;
    margin-left: 40px;
}
.forgot{
    color: rgb(13, 107, 230);
    text-align: center;
    margin-right: 8px;
}
.btn-primary{
    border: none;
    width: 80px;
    height: 30px;
    align-items: flex-end;
}
h3{
    font-weight: 500;
    font-size: 18px;
}
.btn{
    position: relative;
    left: 150px;
    top: 20px;
    border-radius: 0;
    background-color: rgba(6, 93, 255, 0.945);
}
.btn-1{
    position: relative;
    left: 325px;
    bottom: 15px;
    border-radius: 0;
    background-color: rgba(6, 93, 255, 0.945);
}

